.container{
	margin: auto;
	text-align: left;
	border: 1px solid black;
}
.full-width{
	width: 100%;
}
.gender{
	text-align: left;
	font-size: 18px;
	font-weight: 550;
}
.radio-center{
	text-align: center;
}
.submit{
	text-align: center;
}